body{
    margin: 0;
    background-color: #D5E7F3;
    font-family: sans-serif;
}
main{
    width: 40%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 50px;
}
.main-container{
    margin: 0 auto;
    position: relative;
}
.input-btn{
    display: flex;
    justify-content: center;
    position: relative;
}
.input-wrap{
    display: flex;
    justify-content: center;
    width: 60%;
}
.input-how{
width: 40%;
}
.input-where{
    width: 50%;
    margin-right: 30px;
}
input{
    font-size: 14px;
    height: 40px;
    width: 90%;
    padding-left: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.input-where > p, .input-how > p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}
.btn-add{
    width: 30%;
}
input[type="submit"]{
    font-size: 18px;
    width: 25%;
    height: 44px;
    background-color: #74C3A4;
    border: 0;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 20px;
}
input[type="submit"]:hover{
    box-shadow:  0 5px 15px 0 rgba(	36, 118, 91, 0.2)
}
.total-container{
    right: 0;
}
h2{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 500;
}
h2 > p{
    margin: 0 5px;
    font-size: 22px;
}

.expenses-container{
    display: flex;
    justify-content: space-between;
}
.expenses-container > input, p {
    margin: 0;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    font-family: sans-serif;
}
.expenses-container > img, p{
    margin-top: 10px;
}
img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.text-expenses, .text-expenses-cost{

    font-size: 18px;
    color: black;
    margin-left: 10px;
    border: none;
    background-color: #D5E7F3;
}
.text-expenses{
    width: 50%;
}
.text-expenses-cost{
    width: 15%;
}
.text-expenses::placeholder, .text-expenses-cost::placeholder{
    color: black;
}
.text-edit{
    border: 1px solid gray;
}
.done-text::placeholder {
    color: rgba(0, 0, 0, 0.3);
}